$root-block-name: '.mbtn';

#{$root-block-name} {
  width: 150px;
  height: 49px;
  background: linear-gradient(to right bottom, #ec6ab1, #f8cde5);
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}
