$root-block-name: '.mtogglee';

#{$root-block-name} {
  $p: &;
  $p__input: #{$p}__input;
  $p__btn: #{$p}__btn;

  &__input {
    display: none;
    &:checked + #{$p__btn}:after {
      left: 50%;
    }
    &:checked + #{$p__btn} {
      background: #f8cde5;
    }
  }

  &__btn {
    @include flex;
    @include w_h(64px, 32px);
    position: relative;
    cursor: pointer;
    user-select: none;
    background: #c0c0c0;
    border-radius: 32px;
    padding: 2px;
    transition: all 0.4s ease;
    &:after {
      content: '';
      display: block;
      @include w_h(50%, 100%);
      position: relative;
      left: 0;
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }
  }
}
