$root-block-name: '.account';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  @include flex(null, null, column);
  height: 100%;
  &__title {
    color: #f079b5;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  &__text {
    letter-spacing: 0.5px;
    color: #f079b5;
  }

  // account__title
  &__form {
    flex: 1;
    width: 100%;
    &-items {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      height: 100%;
    }

    &-btns {
      @include flex(center, center);
      gap: 8px;
    }

    &-btn {
      width: 136px;
      height: 44px;
      background: #f079b5;

      &--add {
        border: 1px solid #f079b5;
        background: #fff;
        color: #f079b5;
      }

      &--edit {
        width: 52px;
        border: 1px solid #f079b5;
        background: #fff;
        color: #f079b5;
        font-size: 18px;
      }

      &--delete {
        width: 52px;
        border: 1px solid #f079b5;
        background: #fff;
        color: #f079b5;
        font-size: 18px;
      }
    }

    #{$p__text} {
      font-weight: bold;
    }
  }

  &__list {
    margin: 24px;

    &-other {
      @include flex(null, end);
      margin: 8px 0;
    }
  }
}
