$root-block-name: '.restPwd';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__logo: #{$p}__logo;
  @include flex(null, null, column);
  @include abs-center;

  height: 320px;
  width: 500px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 30px hsla(270, 30%, 10%, 0.4);
  overflow: hidden;

  &__logo {
    &-img {
      @include abs-center;
      width: 100px;
      height: 100px;
      opacity: 0.7;
    }
  }

  &--form {
    #{$p__logo} {
      &-img {
        left: 24px;
        transform: none;
      }
    }
  }
  &__main {
    padding: 24px 24px 0 24px;
    flex: 1;
    position: relative;

    #{$p__text} {
      &--title {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 0 24px;
      }
    }

    &-content {
      border-top: 1px solid #ec6ab1;
      height: 100%;
    }

    &-detail {
      padding: 24px;
      height: 100%;
      @include flex(null, space-between, column);
    }
  }

  &__form {
    &-btns {
      @include flex(end, end);
    }
  }

  &__text {
    color: #ec6ab1;
    font-weight: bold;
    letter-spacing: 0.75px;
    font-size: 18px;
  }

  &__bottom {
    @include w_h(100%, 80px);
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 180px;
      height: 30px;
      background: rgba(235, 106, 178, 0.7);
      transform: translateX(-10%) skewx(45deg);
      z-index: 3;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 520px;
      height: 80px;
      background: rgba(235, 106, 178, 0.7);
      transform: translateX(32%) skewx(45deg);
      z-index: 3;
    }

    &-item {
      width: 300px;
      height: 50px;
      bottom: 0;
      background: #f8cde5;
      position: absolute;
      transform: translateX(40%) skewx(45deg);
      z-index: 2;
    }
  }
}
