$root-block-name: '.restPwdDialog';

#{$root-block-name} {
  @include flex;
  padding: 36px 36px 36px 0;
  flex: 1;
  &__icon {
    flex-basis: 100px;

    &-icon {
      @include w_h(60px, 60px);
      @include flex(center, center);
      border-radius: 50%;
      font-size: 36px;
      color: #fff;
      background-color: #b4d8f3;
    }
  }

  &__text {
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #f079b5;
  }
  &__info {
    flex: 1;
    @include flex(null, null, column);
    &-title {
      color: #f079b5;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2px;
      position: relative;
      padding-left: 36px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 32px;
        background-color: #f079b5;
        transform: translateY(-50%);
      }
    }
    &-content {
      flex: 1;
      padding-left: 52px;
    }
    &-btns {
      @include flex(null, end);
      gap: 12px;
    }
    &-btn {
      width: 120px;
      height: 48px;
      background: #f079b5;

      border: none;
      outline: none;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s;
      letter-spacing: 2px;
      &--confirm {
        border: 1px solid #f079b5;
        background: #f079b5;
        color: #fff;
      }
      &--cancel {
        border: 1px solid #f079b5;
        background: #fff;
        color: #f079b5;
      }
    }
  }
}
