$root-block-name: '.sidebar';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;

  @include w_h(160px, 100%);
  padding: 12px;
  &__main {
  }

  &__items {
    @include flex(center, start, column);
    gap: 24px;
  }

  &__item {
    @include flex;
    gap: 16px;
    width: 100%;
    color: #ec6ab1;
    opacity: 0.7;
    &:first-child {
      margin-top: 24px;
    }

    &--active {
      color: #ec6ab1;
      opacity: 1;
    }

    &-icon {
      @include flex(center, center);
    }

    &-text {
      @include flex(center, center);
      letter-spacing: 0.5px;
    }
  }
}
